<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fudanuniversity.cms.repository.mapper.CmsStudyPlanAllocationMapper">

    <!-- 返回结果集 -->
    <resultMap id="CmsStudyPlanAllocationMap" type="com.fudanuniversity.cms.repository.entity.CmsStudyPlanAllocation">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="plan_id" property="planId"/>
        <result column="plan_stage_id" property="planStageId"/>
        <result column="plan_work_id" property="planWorkId"/>
        <result column="plan_work_start" property="planWorkStart"/>
        <result column="plan_work_end" property="planWorkEnd"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 字段列表信息 -->
    <sql id="_field_list">
        `id`, `user_id`, `plan_id`, `plan_stage_id`, `plan_work_id`, `plan_work_start`, `plan_work_end`, `remark`, `deleted`, `create_time`,  `modify_time`
    </sql>

    <!-- 值列表信息 -->
    <sql id="_value_list">
        #{id}, #{userId}, #{planId}, #{planStageId}, #{planWorkId}, #{planWorkStart}, #{planWorkEnd}, #{remark}, #{deleted}, #{createTime},  #{modifyTime}
    </sql>

    <!-- 普通条件查询 -->
    <sql id="_common_where">
        <if test="id != null">
            AND `id` = #{id}
        </if>
        <if test="idList != null and idList.size() > 0">
            AND `id` IN
            <foreach collection="idList" item="id"
                     open="( " separator=" , " close=" )">
                #{id}
            </foreach>
        </if>
        <if test="userId != null">
            AND `user_id` = #{userId}
        </if>
        <if test="planId != null">
            AND `plan_id` = #{planId}
        </if>
        <if test="planStageId != null">
            AND `plan_stage_id` = #{planStageId}
        </if>
        <if test="planWorkId != null">
            AND `plan_work_id` = #{planWorkId}
        </if>
        <if test="planWorkStart != null">
            AND `plan_work_start` = #{planWorkStart}
        </if>
        <if test="planWorkEnd != null">
            AND `plan_work_end` = #{planWorkEnd}
        </if>
        <if test="remark != null">
            AND `remark` = #{remark}
        </if>
        <if test="deleted != null">
            AND `deleted` = #{deleted}
        </if>
        <if test="eltCreateTime != null">
            <![CDATA[
            AND `create_time` <= #{eltCreateTime}
            ]]>
        </if>
        <if test="egtCreateTime != null">
            <![CDATA[
            AND `create_time` >= #{egtCreateTime}
            ]]>
        </if>
        <if test="eltModifyTime != null">
            <![CDATA[
            AND `modify_time` <= #{eltModifyTime}
            ]]>
        </if>
        <if test="egtModifyTime != null">
            <![CDATA[
            AND `modify_time` >= #{egtModifyTime}
            ]]>
        </if>
    </sql>

    <!-- 通用排序 -->
    <sql id="_common_sorts">
        <if test="sorts != null">
            ORDER BY
            <foreach collection="sorts" item="item" separator=",">
                ${item.columnName} ${item.sortMode.mode}
            </foreach>
        </if>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            `cms_study_plan_allocation`(`user_id`, `plan_id`, `plan_stage_id`, `plan_work_id`, `plan_work_start`, `plan_work_end`, `remark`, `deleted`, `create_time`, `modify_time`)
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{userId}, #{planId}, #{planStageId}, #{planWorkId}, #{planWorkStart}, #{planWorkEnd}, #{remark}, #{deleted}, #{createTime}, #{modifyTime}
        </trim>
    </insert>

    <insert id="bulkUpsert" parameterType="list">
        INSERT INTO
            `cms_study_plan_allocation`(`user_id`, `plan_id`, `plan_stage_id`, `plan_work_id`, `plan_work_start`, `plan_work_end`, `remark`, `deleted`, `create_time`, `modify_time`)
        VALUES
        <foreach collection="list" item="data" separator=",">
            (#{data.userId}, #{data.planId}, #{data.planStageId}, #{data.planWorkId}, #{data.planWorkStart}, #{data.planWorkEnd}, #{data.remark}, #{data.deleted}, #{data.createTime}, #{data.modifyTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
       `user_id` = VALUES(`user_id`), 
       `plan_id` = VALUES(`plan_id`), 
       `plan_stage_id` = VALUES(`plan_stage_id`), 
       `plan_work_id` = VALUES(`plan_work_id`), 
       `plan_work_start` = VALUES(`plan_work_start`), 
       `plan_work_end` = VALUES(`plan_work_end`), 
       `remark` = VALUES(`remark`), 
       `deleted` = VALUES(`deleted`), 
       `create_time` = `create_time`, 
       `modify_time` = VALUES(`modify_time`)
    </insert>

    <update id="updateById">
        UPDATE `cms_study_plan_allocation`
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">
                `user_id` = #{userId},
            </if>
            <if test="planId != null">
                `plan_id` = #{planId},
            </if>
            <if test="planStageId != null">
                `plan_stage_id` = #{planStageId},
            </if>
            <if test="planWorkId != null">
                `plan_work_id` = #{planWorkId},
            </if>
            <if test="planWorkStart != null">
                `plan_work_start` = #{planWorkStart},
            </if>
            <if test="planWorkEnd != null">
                `plan_work_end` = #{planWorkEnd},
            </if>
            <if test="remark != null">
                `remark` = #{remark},
            </if>
            <if test="deleted != null">
                `deleted` = #{deleted},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="modifyTime != null">
                `modify_time` = #{modifyTime},
            </if>
        </trim>
        WHERE `id` = #{id}
        LIMIT 1
    </update>

    <delete id="deleteById">
        <![CDATA[
        DELETE FROM `cms_study_plan_allocation` WHERE `id` = #{id} LIMIT 1
        ]]>
    </delete>

    <select id="selectListByParam" parameterType="map" resultMap="CmsStudyPlanAllocationMap">
        SELECT
        <include refid="_field_list"/>
        FROM `cms_study_plan_allocation`
        <trim prefix="WHERE" prefixOverrides="AND" suffix="">
            <include refid="_common_where"/>
        </trim>
        <include refid="_common_sorts"/>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCountByParam" parameterType="map" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM `cms_study_plan_allocation`
        <trim prefix="WHERE" prefixOverrides="AND" suffix="">
            <include refid="_common_where"/>
        </trim>
    </select>
</mapper>