<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fudanuniversity.cms.repository.mapper.CmsUserAccountMapper">

    <!-- 返回结果集 -->
    <resultMap id="CmsUserAccountMap" type="com.fudanuniversity.cms.repository.entity.CmsUserAccount">
        <result column="id" property="id"/>
        <result column="stu_id" property="stuId"/>
        <result column="salt" property="salt"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 字段列表信息 -->
    <sql id="_field_list">
        `id`, `stu_id`, `salt`, `password`, `create_time`,  `modify_time`
    </sql>

    <!-- 值列表信息 -->
    <sql id="_value_list">
        #{id}, #{stuId}, #{salt}, #{password}, #{createTime},  #{modifyTime}
    </sql>

    <!-- 普通条件查询 -->
    <sql id="_common_where">
        <if test="id != null">
            AND `id` = #{id}
        </if>
        <if test="idList != null and idList.size() > 0">
            AND `id` IN
            <foreach collection="idList" item="id"
                     open="( " separator=" , " close=" )">
                #{id}
            </foreach>
        </if>
        <if test="stuId != null">
            AND `stu_id` = #{stuId}
        </if>
        <if test="salt != null">
            AND `salt` = #{salt}
        </if>
        <if test="password != null">
            AND `password` = #{password}
        </if>
        <if test="eltCreateTime != null">
            <![CDATA[
            AND `create_time` <= #{eltCreateTime}
            ]]>
        </if>
        <if test="egtCreateTime != null">
            <![CDATA[
            AND `create_time` >= #{egtCreateTime}
            ]]>
        </if>
        <if test="eltModifyTime != null">
            <![CDATA[
            AND `modify_time` <= #{eltModifyTime}
            ]]>
        </if>
        <if test="egtModifyTime != null">
            <![CDATA[
            AND `modify_time` >= #{egtModifyTime}
            ]]>
        </if>
    </sql>

    <!-- 通用排序 -->
    <sql id="_common_sorts">
        <if test="sorts != null">
            ORDER BY
            <foreach collection="sorts" item="item" separator=",">
                ${item.columnName} ${item.sortMode.mode}
            </foreach>
        </if>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            `cms_user_account`(`stu_id`, `salt`, `password`, `create_time`, `modify_time`)
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{stuId}, #{salt}, #{password}, #{createTime}, #{modifyTime}
        </trim>
    </insert>

    <insert id="bulkUpsert" parameterType="list">
        INSERT INTO
            `cms_user_account`(`stu_id`, `salt`, `password`, `create_time`, `modify_time`)
        VALUES
        <foreach collection="list" item="data" separator=",">
            (#{data.stuId}, #{data.salt}, #{data.password}, #{data.createTime}, #{data.modifyTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
       `stu_id` = VALUES(`stu_id`), 
       `salt` = VALUES(`salt`), 
       `password` = VALUES(`password`), 
       `create_time` = `create_time`, 
       `modify_time` = VALUES(`modify_time`)
    </insert>

    <update id="updateById">
        UPDATE `cms_user_account`
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuId != null">
                `stu_id` = #{stuId},
            </if>
            <if test="salt != null">
                `salt` = #{salt},
            </if>
            <if test="password != null">
                `password` = #{password},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="modifyTime != null">
                `modify_time` = #{modifyTime},
            </if>
        </trim>
        WHERE `id` = #{id}
        LIMIT 1
    </update>

    <delete id="deleteById">
        <![CDATA[
        DELETE FROM `cms_user_account` WHERE `id` = #{id} LIMIT 1
        ]]>
    </delete>

    <select id="selectListByParam" parameterType="map" resultMap="CmsUserAccountMap">
        SELECT
        <include refid="_field_list"/>
        FROM `cms_user_account`
        <trim prefix="WHERE" prefixOverrides="AND" suffix="">
            <include refid="_common_where"/>
        </trim>
        <include refid="_common_sorts"/>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCountByParam" parameterType="map" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM `cms_user_account`
        <trim prefix="WHERE" prefixOverrides="AND" suffix="">
            <include refid="_common_where"/>
        </trim>
    </select>
</mapper>